<a href="https://colab.research.google.com/github/TanChen168/Project2/blob/main/Project2_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project 2 Part 1 - Selection of dataset to be used for the project

# First Choice: Heart Failure Clinical Records

1) Source of data - UCI Machine Learning Repository

2) Brief description of data - the dataset contains 299 records of the patients who had heart failure with 13 attributes

3) What is the target? - The target is the death event whether deceased or not

4) Is this a classification or regression problem? - Both

5) How many features? - 12

6) How many rows of data - 299

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? - None

In [ ]:
import pandas as pd

filename = '/content/sample_data/heart_failure_clinical_records_dataset.csv'

df = pd.read_csv(filename)

df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

# Second Choice: Estimation of obesity levels based on eating habits and physical condition

1) Source of data - UCI Machine Learning Repository

2) Brief description of data - the dataset contains 2111 records of the individuals with the estimation of their obesity levels

3) What is the target? - The target is the obesity levels of the individuals

4) Is this a classification or regression problem? - Both

5) How many features? - 16

6) How many rows of data - 2111

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? - None

In [ ]:
filename = '/content/sample_data/ObesityDataSet_raw_and_data_sinthetic.csv'

df = pd.read_csv(filename)

df

      Gender        Age  ...                 MTRANS           NObeyesdad
0     Female  21.000000  ...  Public_Transportation        Normal_Weight
1     Female  21.000000  ...  Public_Transportation        Normal_Weight
2       Male  23.000000  ...  Public_Transportation        Normal_Weight
3       Male  27.000000  ...                Walking   Overweight_Level_I
4       Male  22.000000  ...  Public_Transportation  Overweight_Level_II
...      ...        ...  ...                    ...                  ...
2106  Female  20.976842  ...  Public_Transportation     Obesity_Type_III
2107  Female  21.982942  ...  Public_Transportation     Obesity_Type_III
2108  Female  22.524036  ...  Public_Transportation     Obesity_Type_III
2109  Female  24.361936  ...  Public_Transportation     Obesity_Type_III
2110  Female  23.664709  ...  Public_Transportation     Obesity_Type_III

[2111 rows x 17 columns]